body {
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home {
  position: absolute;
  top: 20px;
  right: 20px;
}

.head {
  padding-top: 30px;
  text-align: center;
}

.head p {
  padding-top: 20px;
  font-size: 2em;
  font-family: Pacifico;
  color: aqua
}

.head h1 {
  color: #ffffff;
  text-align: center;
  line-height: 0.5;
  font-size: 7em;
  text-shadow: 0 0 40px #ffbab3;
  font-family: Pacifico;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.links {
  text-align: center;
  font-size: 20px;
  padding-top: 20vh;
  text-decoration: none;
  padding-bottom: 300px;
}

.links a {
  color: #ffffff;
  /* font-weight: bold; */
  padding: 5px 5px;
  border: 2px solid #05CDB2;
}

.links a:hover {
  border: 2px solid #F82374;
  transition: border 0.8s ease;
  text-decoration: none;
  color: #ffffff;
  
}

.links a:active {
  text-decoration: none;
  border: 2px solid #129237;
}

.links li a {
  padding: 4px;
}

/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat, arial, verdana;
}

/*form styles*/

#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/

#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/

#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.vida {
  display: block;
  margin: 0 auto;
  height: 50vh;
  width: 75vw;
}
